*{
    margin: 0;
    padding: 0;
    background-color: transparent;
}
body,html{
    background-image: url(images/final10.png);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.endbutton{
  background-color: #CE2822; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-style: calibri;
}
.endbutton:hover{
    background-color: red;
    cursor: pointer;
}
.endbutton:active{
    background-color: pink;
    color: black;
}
#end{
    position: fixed;
    top: 87%;
    left: 85%;
}
#game_end{
    border-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    height: 70px;
    width: 180px;
}
.largebutton{
  background-color: #F2FA16; 
  color: black;
  height: 170px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  font-style: calibri;
}
.largebutton:hover{
    cursor: pointer;
    color: ;
}
#large{
    position: fixed;
    top: 56%;
    left: 85%;
}
#difficultquestion{
    border-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    height: 170px;
    width: 180px;
}
.mediumbutton{
  background-color: #FA9F16; 
  border: none;
  color: black;
  height: 130px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  font-style: calibri;
}
.mediumbutton:hover{
    cursor: pointer;
    color: ;
}
#medium{
    position: fixed;
    top: 32%;
    left: 85%;
}
#mediumquestion{
    border-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    height: 130px;
    width: 180px;
}
.smallbutton{
  background-color: red; 
  border: none;
  color: black;
  height: 55px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  font-style: calibri;
}
.smallbutton:hover{
    cursor: pointer;
    color: ;
}
#small{
    position: fixed;
    top: 20%;
    left: 85%;
}
#easyquestion{
    border-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    height: 55px;
    width: 180px;
}
.height{
  background-color: white; 
  height: 20px;
  width: 90px;
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-style: calibri;
}
#ht{
    position: fixed;
    top: 5%;
    left: 85%;
}
.canvas {
    width: 15%;
    height: auto;
    border: 1px solid transparent;
    position: fixed;
    left: 30%;
    bottom: 12%;
}
