*{
    margin: 0;
    padding: 0;
    background-color: transparent;
}
body,html{
    background-image: url("images/building20.png");
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}
.button1{
  position: relative;
  background-color: white; 
  border: none;
  color: black;
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-style: calibri;
}
.button1:hover{
    background-color: red;
    cursor: pointer;
}
.button1:active{
    background-color: pink;
    color: black;
}
#one{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.button2{
    display: block;
  background-color: white; 
  border: none;
  color: black;
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-style: calibri;
}
.button2:hover{
    background-color: red;
    cursor: pointer;
}
.button2:active{
    background-color: pink;
    color: black;
}
#two{
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-40%);
}