<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Details
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="username"><label for="participantname">Your Name: </label>
	<input type="text" name="participantname" id="participantname" ></div>
	<br><br>

	<div class="userid"><label for="participantid">Your CodeWars ID: </label>
	<input type="url" name="participantid" id="participantid" placeholder="For eg- chandana-21"></div>

	<div class="submit">
		<input type="submit" name="buttonsubmit" id="buttoninput" value="SUBMIT AND START GAME">
	</div>

</body>
<script>
	function addplayerinfo() {
		var playername = $("#participantname").val();
		var playerid = $("#participantid").val();
		$.get("/getplayerinfo", {player_name: playername, player_id: playerid}).done(function(data){
			if (data=="True"){} //add exception dialogbox
			else {window.location = "/gamepage";}
		});
	}
	$('#buttoninput').click(function(){
		addplayerinfo();
	});
</script>
</html>
