<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta charset="utf-8">
	<title>
		Details
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
	<section>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<div class="square" style="--i:0;"></div>
			<div class="square" style="--i:1;"></div>
			<div class="square" style="--i:2;"></div>
			<div class="square" style="--i:3;"></div>
			<div class="square" style="--i:4;"></div>
			<div class="square" style="--i:5;"></div>
			<div class="square" style="--i:6;"></div>
			<div class="square" style="--i:7;"></div>
			<div class="square" style="--i:8;"></div>
			<div class="square" style="--i:9;"></div>

			<div class="container">
				<div class="form" id="form">
					<h2>Enter Your Details</h2>
					<form action="" method ="post">
						<div class="inputBox">
							<input type="text" name="participantname" id="participantname" placeholder="Name">
						</div>
						<div class="inputBox">
							<input type="text" name="participantid" id="participantid" placeholder="Codewars ID: Eg: chandana-21">
						</div>
						<!-- Add CSS for this <p> tag -->
						{% if message %}
 					       <p>{{ message }}</p> 
 					    {% endif %}
						<br><br><br>
						<div class="inputBox" id="iduser">
							<input type="submit" name="buttonsubmit" id="buttoninput" value="Start Game">
						</div>
					</form>
				</div>				
			</div>
		</div>
	</section>

</body>
</html>
