<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BUILDING BLOCKS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='gamepage.css') }}">
</head>
<body>

	<div class="height">
		
	</div>

	<a href="https://leetcode.com/problems/two-sum/"><div class="smallbutton">
		SMALL
	</div></a>
	<a href="https://leetcode.com/problems/container-with-most-water/"><div class="mediumbutton">
		MEDIUM
	</div></a>
	<a href="https://leetcode.com/problems/median-of-two-sorted-arrays/"><div class="largebutton">
		LARGE
	</div></a>
	<div class="endbutton">
		END GAME
	</div></a>

</body>
</html>