<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BUILDING BLOCKS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='gamepage.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

	<div class="height" id="ht">
		0
	</div>

	<canvas id="DemoCanvas" width="200" height="500"></canvas> 

	<div class="smallbutton" id="small">
		<input type="submit" name="buttonsmall" id="easyquestion" value="SMALL">
		<!-- SMALL -->
	</div>
	<div class="mediumbutton" id="medium">
		<input type="submit" name="buttonmedium" id="mediumquestion" value="MEDIUM">
		<!-- MEDIUM -->
	</div>
	<div class="largebutton" id="large">
		<input type="submit" name="buttonlarge" id="difficultquestion" value="LARGE">
		<!-- LARGE -->
	</div>
	<div class="endbutton" id="end">
		<input type="submit" name="buttonend" id="game_end" value="END GAME">
		<!-- END GAME -->
	</div></a>

</body>
<script>
	var height = 0;
	var questiongiven = "";
	async function assignques(level)
	{
		var y = 500 - (height*10);
		level = parseInt(level);
		if(y<0){
			//print exception that max height overflow
			return
		}
		var canvas = document.getElementById("DemoCanvas");
		let questionobject = await fetch("/assignques?"+ new URLSearchParams({difficulty: level}));
		let questiongiven = await questionobject.text();
    	window.open(questiongiven, "_blank");
		console.log(questiongiven);

		let data = await fetch("/scrapeScore?"+ new URLSearchParams( {quesgiven: questiongiven, difficulty: level}));
		let datastr = await data.text();
		height = parseInt(datastr);
		console.log(height);
		//build block that starts at height-level and ends at height
		if (height!=NaN){
		if (canvas.getContext) 
		{
  				var ctx = canvas.getContext('2d');
  				if (level == 5){
  					ctx.fillStyle='#F2FA16'; }
  				if (level == 3){
    				ctx.fillStyle='#FA9F16'}
  				if (level == 1){
    				ctx.fillStyle='#FF0000'}// color of fill
  				ctx.fillRect(0, y, 200, level*10); // create rectangle 
  				ctx.beginPath();
  				ctx.moveTo(0,y);
  				ctx.lineTo(200,y);
  				ctx.closePath();
  				ctx.stroke();
  			
		}
		document.getElementById('ht').innerHTML=height;}
	}

	$("document").ready(() => {
  		$('#easyquestion').click(() => {
      		assignques('1');
  		});
  		$('#mediumquestion').click(() => {
      		assignques('3');
  		});
  		$('#difficultquestion').click(() => {
      		assignques('5');
  		});

  		$('#game_end').click(async () => {
      		await fetch("/thankyou");
      		window.location = "/thankyou";
  		});
	});

</script>
</html>
