<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BUILDING BLOCKS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='gamepage.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

	<div class="height" id="ht">
		
	</div>

	<div class="smallbutton" id="small">
		<input type="submit" name="buttonsmall" id="easyquestion" value="SMALL">
		<!-- SMALL -->
	</div>
	<div class="mediumbutton" id="medium">
		<input type="submit" name="buttonmedium" id="mediumquestion" value="MEDIUM">
		<!-- MEDIUM -->
	</div>
	<div class="largebutton" id="large">
		<input type="submit" name="buttonlarge" id="difficultquestion" value="LARGE">
		<!-- LARGE -->
	</div>
	<div class="endbutton" id="end">
		<input type="submit" name="buttonend" id="game_end" value="END GAME">
		<!-- END GAME -->
	</div></a>

</body>
<script>
	var height = 0;
	var questiongiven = "";
	function assignques(level)
	{
		
		$.get("/assignques/", {difficulty: level}).done(function(data){
			questiongiven = data;
			console.log(questiongiven)
			window.open(data, "_blank");
		});
		console.log(questiongiven);
		$.get("/scrapeScore",{quesgiven: questiongiven}).done(function(data){
			height = parseInt(data);
			console.log(height);
			//build block on wall of "level" size and display total "height"
		});
	}

	$('#easyquestion').click(function(){
		assignques(1);
	});
	$('#mediumquestion').click(function(){
		assignques(3);
	});
	$('#difficultquestion').click(function(){
		assignques(5);
	});
	$('#game_end').click(function(){
		$.get("/thankyou").done(function(data){
			window.location = "/thankyou";
		});
	});
</script>
</html>
